
<div class="container-login">
    <%= render "form_login"%>  
</div>

<div class="modal fade" id="meuModal" tabindex="-1" aria-hidden="true">
    <%= render "form_new", user: User.new%>  
</div>

<script>
    var meuModal = new bootstrap.Modal(document.getElementById('meuModal'));
    meuModal.show();
</script>





