<% content_for :title, "Editing Equipment" %>

<div class="container-fluid mt-4">

  <div class="card shadow-sm">

    <div class="card-header text-white"
         style="background-color: darkseagreen;">
      <h3 class="mb-0">Edit Equipment</h3>
    </div>

    <div class="card-body">

      <%= render "form", equipment: @equipment %>

      <hr>

      <div class="d-flex justify-content-center gap-3">

        <%= link_to "View Equipment",
            @equipment,
            class: "btn",
            style: "background-color: darkseagreen; color:white;" %>

        <%= link_to "Back to Equipment",
            equipment_index_path,
            class: "btn btn-outline-secondary" %>

      </div>

    </div>

  </div>

</div>