<p style="color: green"><%= notice %></p>

<% content_for :title, "Equipment" %>

<%= link_to "Home", root_path, class: "button-group" %>
<%= link_to "New equipment", new_equipment_path, class: "button-group" %>

<%= render "table_equipment" %>


