<% content_for :title, "Clients" %>

<div class="container-fluid mt-4">

  <div class="card shadow-sm border-0">

    <!-- HEADER -->
    <div class="card-header text-white d-flex justify-content-between align-items-center"
         style="background-color: darkseagreen;">
      
      <h5 class="mb-0">Clients</h5>

      <button type="button" class="btn btn-light btn-sm fw-semibold" data-bs-toggle="modal" data-bs-target="#modalNewClient">
          New Client
      </button>

    </div>

    <!-- BODY -->
    <div class="card-body">

      <%= render "clients_table" %>

    </div>

  </div>

</div>

<div class="modal fade" id="modalNewClient" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title text-customized">New Category</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= turbo_frame_tag "form_new_client", src: new_client_path, loading: "lazy" %>
      </div>
        </div>
        </div>
      </div>
    </div>
  </div> 
</div>

<script>
    var meuModal = new bootstrap.Modal(document.getElementById('modalNewClient'));
    meuModal.show();
</script>