<div class="container-fluid mt-4">
<%= turbo_frame_tag "form_new_client" do %>
  <div class="card shadow-sm">

    <div class="card-header text-white" style="background-color: darkseagreen;">
      <h2 class="text-center mb-3">New Client</h2>
    </div>

    <div class="card-body">

      <div class="row justify-content-center">
        <div class="col-lg-6">

          <%= render "form", client: @client %>

          <div class="d-flex justify-content-center mt-3">
            <%= link_to "Back", clients_path, class: "btn btn-secondary" %>
          </div>

        </div>
      </div>

    </div>

  </div>
<%end%> 

</div>