/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
@import "bootstrap";

.menu_top {
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu_bottom {
  width: 100%;
  display: flex;
  justify-content: center;
}


.button-group {
  background-color: darkseagreen;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.button-group:hover {
  background-color: darkseagreen;
  opacity: 0.7;
}

.error-messages {
  font-size: medium;
  color: red;
}

/* Centraliza o card na página */
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    font-family: Arial, sans-serif;
}

/* Estilo do Card 
.card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Largura do card 
    box-sizing: border-box;
}*/

/* Estilo do Formulário */
.form-content h2, p, h4, h5 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #333;
}

.foot{
    margin-top: 2rem;
    text-align: right;
    color: #777;
    font-size: 0.6rem;
}

.input-group {
    margin-bottom: 1rem;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
    font-size: 0.9rem;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box; /* Garante que padding não aumente a largura */
}

.input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box; /* Garante que padding não aumente a largura */
}

.btn-submit {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: darkseagreen;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: darkseagreen;
    opacity: 0.7;
}

.container-login{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #8FBC8B, #2E8B57);
}

dialog {
  border: none;
  border-radius: 8px;
  padding: 20px;
  width: 20%;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro (overlay) */
}



  body {
    margin: 0;
    padding: 0;
  }

  .header-usuario {
    position: fixed; /* fixo na tela */
    top: 0;
    right: 0;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-right: 550px;
  }

  .container-header{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
/*bootstrap*/

.btn-primary {
  background-color: darkseagreen !important;
  border-color: darkseagreen !important;
}

.btn-primary:hover{
  background-color: darkseagreen !important;
  opacity: 0.7 !important;
}

.text-customized{
  font-size: 50px;
  color: darkseagreen
}
